html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: radial-gradient(circle, rgba(255,231,0,1) 0%, rgba(255,179,0,1) 75%);
}

* {
    box-sizing: border-box;
}

.green {
    color: mediumseagreen;
}

.red {
    color: indianred;
}

.green, .red {
    cursor: pointer;
    font-size: 1.4rem;

    transition-property: font-size;
    transition-duration: 300ms;
}

.image {
    height: 100px;
    width: 430px;
    background-image: url(https://lh4.googleusercontent.com/CRIM8x1W2kZXL4-CowOCNYp2b8d4IRNlJ-7RHVnOFhytaz96LSMfGpPv4yzEFU61MSkX_5wfdDxC1khqzuAqlWph5ouBZsA2krxf-GvgvkTEjj57S2EFtkxY-2s3=w2196);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image__text {
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}

.heading {
    text-align: center;
    color: coral;
}

.textField {
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 1.4rem;
    border: 2px dashed lightgray;
    outline: transparent;
}

.textField:focus {
    border-color: cornflowerblue;
}

.textField::placeholder {
    font-size: 1rem;
}

.submitButton {
    cursor: pointer;
    background-color: coral;
    border: none;
    outline: transparent;
    color: white;
    padding: 5px 20px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

.card {
    background-color: white;
    margin: 5px auto;
    max-width: 480px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
}